body {
        padding-top: 60px;
      }
      
ul, li {
          list-style-type: none;
      }
      
.display-unit {
  background-color: #f5f5f5;
  margin-bottom: 30px;
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.display-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.display-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}      
      
      
      
<!-- footer -->
.footer {
	width: 100%;
	height: 150px;
	/*background-color: #fefdf1;
	border: 3px solid #feb101;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	padding: 5px;
	padding-top: 10px;
	margin-top: 100px;
	color: rgba(210, 135, 3, 0.8);
	text-align: center;
	border-top: 1px solid rgba(210, 135, 3, 0.8);
	line-height: 30px;
	}
	
.footer a:link, #footer a:visited, #footer a:active {
	text-decoration: none;
	color: #333;
}

.footer a:hover {
	color: #666;
	text-decoration: underline;
}


.column1{
	float: left;
	
.clearBoth { clear:both; }
	text-align: left;
	width: 202px;
	height: 100px;
	margin-right: 10px;
	margin-left: 20px;
}
.column2, .column3, .column4 {
	float: left;
	.clearBoth { clear:both; }
	text-align: left;
	width: 202px;
	height: 100px;
	margin-right: 25px;
	margin-left: 5px;
}
.copyright {
	float: right;
	.clearBoth { clear:both; }
	text-align: left;
	width: 202px;
	height: 100px;
	margin-right: 10px;
	margin-left: 5px;
}

#right {
  width: 360px;
  float: right;
}

#loginbtn {
  background: url('https://s3.amazonaws.com/static.turntable.fm/images/indexlogin/button_fb_sprite.png') 0px 0px no-repeat;
  width: 314px;
  height: 63px;
  cursor: pointer;
}
#loginbtn:hover {
  background-position: 0px -63px;
}
#loginbtn:active {
  background-position: 0px -126px;
}


